
@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($x: 0px, $y: 0px, $blur: 10px) {
  -moz-box-shadow: $x $y $blur black;
  -webkit-box-shadow: $x $y $blur grey;
  box-shadow: $x $y $blur grey; 
}


.clear {
  clear: both;
  float: none;
  font-size: 7px;
}

body {
  font-family: sans-serif;
  font-size: 90%;
  margin: 0;
  padding: 1.5em 4em 2em 4em;
}

h1 {
  color: #444;
  border-bottom: 4px solid #444;
  padding: 0em 1em 0.4em 0em;
  margin:20px auto;
  width:700px;
}

pre {
  color: #444;
  font-size: 110%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  padding: 1em;
  border: 4px solid #fafafa;
}

a {
  color: #666666;
  &:hover { color: #333333}
}

ul {
  margin: 0;
  padding: 0;
}

#posts {
  width: 750px;
  margin: auto;
  .post {
    height:220px;
    .date {
      font-size: 20px;
    }
    .perex {
      font-size: 95%;
      color: #444;
      padding:17px 10px 10px;
      width:460px;
      float: left;
    }  
    .image {
      float: left;
      img {
        @include shadow(5px, 5px, 30px);
        margin: 20px 20px 10px 10px;
        border: 0px solid black;
      }
    }
    h3 {
      width: 400px;
    }
  }
}


#article {
  width: 700px;
  margin: auto;
  .body {
    border-bottom: 1px solid #ccc;
    a.flickr {
      margin: 0 90px;
    } 
    img { 
      margin: auto;
      border: 0px;
    }
  }
  .categories {
    font-size: 80%;
    color: #999;
  }
}

#comment_form { 
  color: #444444;
  label, input.text, textarea {
    font-size: 95%;
    text-align: left;
    width: 20em;
    padding: 2px;
    margin-bottom: 15px;
    display: block;
    float: left; 
  }
  textarea {
    width: 40em;
    @include rounded(5px);
    border:1px solid black;
    padding:5px;
  }
  input.text {
    padding-left:6px;
    @include rounded(5px);
    border:1px solid black;
  }
  label { 
    color: #444;
    font-size: 85%;
    text-align: right;
    width: 12em;
    padding-right: 10px;
    padding-top: 0.5em; 
  } 
  .required { font-weight: bold; }
  span { 
    color: #9d9d9d;
    font-size: 80%;
    padding: 0.5em 0 0 0.5em;
    float: left;  
  }
  .error { 
    font-size: 85%;
    color: white;
    background-color: #F3292F;
    margin: 0 0 0.2em 13em;
    padding: 0.3em;
    float: none;
    clear: both;
    width: 20%; 
  }
  .error label {
    color: #fb076e;
    font-weight: bold; 
  }
  br { clear: both; }
  .submit {
    @include rounded(5px);
    border:1px solid black; 
    float: left;
    margin-left: 35em;
    padding: 3px 13px; 
  }
}
.comment {
  margin: 1em 0 1em 0;
  border-bottom: 1px solid #fafafa;
}
#comment_added_thanks {
  background: #bcfa96;
  padding: 0.2em 0.2em 0.2em 0.5em;
}
#spam_deleted {
  background: #faf296;
  padding: 0.2em 0.2em 0.2em 0.5em;
}
#comments .comment .comment_controls {
  background: #fff;
  border: 3px solid #2e364d;
  padding: 4px; margin: 0 0 0.5em 0;
  width: 10em;
}
#admin_panel {
  font-size: 11px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  color: #fff;
  background: #2e364d;
  border-top: 2px solid #fff;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
}
#admin_panel_content {
  text-align: left;
  width: 98%;
  padding: 10px 0px 10px 0px;
  position:relative;
  margin: 0 auto; 
  p {
    float: left;
    margin: 0 10px 0 0;
  }
  input {
    margin: -5px 0 0 0;
    padding: 0;
  }
  a {
    color: #fff !important;
  }
}
